body{background:#111;color:#fff;font-family:Arial;text-align:center}
.card{background:#222;padding:20px;margin:20px auto;border-radius:10px;width:320px}
input,select{display:block;margin:10px auto;padding:10px;width:90%}
button{padding:10px;background:#2962ff;border:none;color:#fff;border-radius:5px}
